  * {
    margin: 0;
    padding: 0;
  }

  nav {
    height: 70px;
    width: 100%;
    background-color: rgb(70, 69, 69);
  }

  nav a {
    font-family: 'Righteous',
      cursive;
    color: white;
    text-decoration: none;
    margin-left: 15px;
  }

  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aliceblue;
  }

	.first-view {
	  height: 350px;
    width: 100%;
    padding-top: 170px;
    background-image: url("/assets/img/mic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .first-view h1 {
    font-family: 'Righteous', cursive;
    color: white;
  }

  .signin-container {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .signup-container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }
  
  .signup-container form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  
  .signup-container input {
    margin: 2px;
  }

  .post {
    margin: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    word-break: break-all;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .post p {
    text-align: center;
  }

  .center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .center-hrizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }